.notification-sign {
  position: relative;

  margin-left: auto;
  @include hover-active;
}

.notification-sign__counter {
  position: absolute;
  top: -4px;
  right: -7px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 13px;
  height: 13px;

  text-align: center;

  border-radius: 50%;
  background: #E54D4D;
  border: 2px solid #37AEC1;
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
}

