.site-list {
  @include list-clear;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: stretch;

  margin-left: 32px;
  margin-right: 110px;

  text-transform: uppercase;
  font-size: 14px;
}

.site-list__item {
  margin-left: 38px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}

.site-list__link {
  @include opacity-hover;

  opacity: 0.8;
  color: #ffffff;
}

.site-list__item--active {
  border-bottom-color: #8dc540;
}
